@import url("https://fonts.googleapis.com/css2?family=Anton&family=Patua+One&family=Changa+One&family=Montserrat:wght@500&display=swap");
@media (min-width: 482px) {
  body {
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: url("components/deskBG.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right 10%;
  }
  #mobNav {
    display: none;
  }
  #mobLogo {
    display: none;
  }
  .logoBox {
    width: 40%;
    margin: 5%;
    margin-bottom: 0;
  }

  .frontDesc {
    width: 40%;
    font-size: 1.5vw;
    margin: 8%;
  }

  .video {
    margin-top: 15%;
    width: 60%;
  }

  .sidebar {
    height: 100%;
    width: 3vw;
    position: fixed;
    padding-top: 15%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #11100000;
    overflow-x: hidden;
  }

  .sidebar a {
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 1.5vw;
    display: block;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 2.5vw; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }

  .bigBox {
    align-self: center;
    width: 75%;
    margin-left: 10%;
    background-image: url("components/catBG.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .categories {
    min-width: 20%;
    position: inherit;
    font-family: "Pacifico", cursive;
    display: inline-block;
    padding: 10% 5%;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    background: black00;
    vertical-align: auto;
    font-size: 150%;
  }

  .categories:hover {
    color: purple;
    text-decoration: underline;
    background-color: rgba(197, 191, 191, 0.363);
  }

  .button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 150%;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #f1f1f14f;
  }

  .button1 {
    background-color: white;
    border: 2px solid #070707;
    color: black;
  }

  .button1:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .about-us {
    margin-top: 200px;
    margin-bottom: 100px;
  }
  .grid-child {
    background-color: #f1f1f115;
    width: 70%;
    margin: auto;
    height: 400px;
    padding-top: 20px;
    color: #f2f2f2;
  }
  .about h4 {
    font-family: "Patua One", cursive;
    font-size: 3vw;
    margin: 0;
  }

  .about p {
    font-size: 1.5vw;
    padding: 0 4%;
    font-family: "Montserrat", sans-serif;
  }

  #partners {
    font-family: "Patua One", cursive;
  }
  .partnersDiv {
    background-color: rgba(255, 255, 255, 0.452);
    width: 70%;
    margin: auto;
    height: 30vw;
    padding-top: 20px;
    border-radius: 20px;
  }
  .pone {
    margin-right: 0;
  }
  .ptwo {
    margin-left: 0;
  }

  footer {
    padding-top: 3%;
    bottom: 0;
    width: 100%;
    display: inline-block;
    zoom: 1;
  }
  footer ul li {
    font-family: "Patua One", cursive;
    display: inline;
    padding-right: 20px;
  }
  footer ul li a {
    font-size: 1vw;
    color: #f2f2f2;
    text-decoration: none;
  }
}
