@media (max-width: 480px) {
  #deskNav {
    display: none;
  }
  #deskLogo {
    display: none;
  }

  body {
    background-color: rgb(3, 3, 3);
  }
  .logoBox {
    margin: 20% 20%;
    width: 60%;
  }
  .frontDesc {
    border: 1px solid white;
    margin: 20% 10% 5% 10%;
    color: aliceblue;
    font-size: 6vw;
    text-align: center;
  }
  .categories {
    max-width: 50%;
    min-width: 30%;
    display: flex;
    border: 1px solid white;
    font-weight: 900;
    font-size: 6vw;
    padding: 5% 5%;
    color: white;
    display: inline-block;
    margin: 3%;
    border-radius: 5px;
    margin-left: 10%;
  }

  .button {
    border: 2px solid #070707;
    background-color: black;
    color: white;
  }

  .video {
    background-color: black;
  }
  .about {
    padding: 5%;
    font-size: 16px;
    color: azure;
  }
  .about h4 {
    font-family: "Patua One", cursive;
    font-size: 150%;
  }

  .about p {
    padding: 4%;
    font-family: "Montserrat", sans-serif;
  }

  footer {
    padding: 10% 0 0 5%;
    color: white;
    display: inline-block;
  }
  footer ul li a {
    padding-top: 20px;
    font-family: "Patua One", cursive;
    font-size: 4vw;
    color: #f2f2f2;
    text-decoration: none;
  }
}
